.navbar{
    width: fit-content;
    display: flex;
    height: fit-content;
    border: 2px solid black;
    border-radius: 2px;
    background-color: beige;
    padding: 5px;
    gap: 30px;
}
@media only screen and (max-width:600px){
    .navbar{
        color: black;
        font-size: 12px;
    }
}